@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OTWelcomeRA";
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #333 !important;
}

table {
  border-collapse: collapse;
}

#logo a img:nth-child(2) {
  display: none;
}

body {
  position: relative;
}

.imgZoomIn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1500;
}
.imgZoomIn .zoomIn {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.imgZoomIn .zoomIn .zoominCloseBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 64%;
  top: 0.7%;
  transform: translate(-50%, -50%);
  z-index: 80;
}
.imgZoomIn .zoomIn img {
  width: 519px;
  height: 770px;
  position: absolute;
  left: 50%;
  top: 7.5%;
  transform: translate(-50%, -50%);
}

#wrap {
  width: 1000px;
  height: auto;
  border: 1px solid salmon;
  margin: 0 auto;
  display: flex;
}
#wrap #mainWrap {
  width: 793px;
  height: auto;
  border: 1px solid green;
}
#wrap #mainWrap #main_head {
  width: 100%;
  height: 587.36px;
  border: 1px solid magenta;
  padding: 40px 29px;
}
#wrap #mainWrap #main_head .thum_img {
  width: 220px;
  height: 344px;
  float: left;
}
#wrap #mainWrap #main_head .thum_img .img_box {
  background-color: burlywood;
  width: 200px;
  height: 292px;
}
#wrap #mainWrap #main_head .thum_img .img_box img {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}
#wrap #mainWrap #main_head .thum_img .boxlook {
  width: 200px;
}
#wrap #mainWrap #main_head .thum_img .boxlook .img_look {
  border: 1px solid #1f8ce6;
  border-radius: 5px;
  width: 130px;
  height: 39px;
  margin: 12px auto 0;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #1f8ce6;
  cursor: pointer;
}
#wrap #mainWrap #main_head .thum_img .boxlook .img_look:hover {
  background-color: rgba(31, 140, 230, 0.1);
}
#wrap #mainWrap #main_head .thum_title {
  width: 500px;
  height: 357.36px;
  float: right;
  border: 1px solid green;
}
#wrap #mainWrap #main_head hr {
  clear: both;
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
#wrap #mainWrap #main_head .thum_detail {
  width: 733px;
  height: 110px;
  margin-top: 40px;
  padding: 20px 26px 13px;
  border: 4px solid #f2f4f5;
}
#wrap #mainWrap #book_intro {
  width: 100%;
  height: auto;
  border: 1px solid khaki;
  padding: 0 29px 70px 29px;
}
#wrap #mainWrap #book_intro h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 20px;
}
#wrap #mainWrap #book_intro p {
  color: #333;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  line-height: 1.7em;
}
#wrap #mainWrap #publishing {
  width: 100%;
  height: auto;
  border: 1px solid #1f8ce6;
  padding: 0 29px 70px 29px;
}
#wrap #mainWrap #publishing h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 20px;
}
#wrap #mainWrap #publishing p {
  color: #333;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  line-height: 1.7em;
}
#wrap #mainWrap #profile {
  width: 100%;
  height: auto;
  padding: 0 29px 20px 29px;
}
#wrap #mainWrap #profile h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 20px;
}
#wrap #mainWrap #profile h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #333;
  padding-top: 10px;
}
#wrap #mainWrap #profile span {
  color: #333;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  line-height: 1.7em;
}
#wrap #mainWrap #presenbook {
  width: 735px;
  margin: 0 auto;
  height: 286px;
  border: 1px solid salmon;
  padding: 0 29px 70px 29px;
}
#wrap #mainWrap #author_intro {
  width: 100%;
  height: auto;
  border: 1px solid yellowgreen;
  padding: 0 29px 40px 29px;
}
#wrap #mainWrap #author_intro h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 20px;
}
#wrap #mainWrap #author_intro p {
  color: #333;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  line-height: 1.7em;
}
#wrap #mainWrap #sub_index {
  width: 100%;
  height: auto;
  border: 1px solid darkorange;
  padding: 0 29px 40px 29px;
}
#wrap #mainWrap #sub_index h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 20px;
}
#wrap #mainWrap #sub_index p {
  color: #333;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  line-height: 1.7em;
}
#wrap #mainWrap #sub_review {
  width: 100%;
  height: auto;
  border: 1px solid magenta;
  padding: 0 29px 70px 29px;
}
#wrap #mainWrap #sub_review h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "SUIT-Medium";
  color: #59667a;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 2px solid #7d8e9e;
  margin-bottom: 25px;
}
#wrap #mainWrap #sub_review .writeBox {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 14px;
}
#wrap #mainWrap #sub_review .writeBox .starbox {
  width: 120px;
  height: auto;
  padding: 30px 10px;
  border: 1px solid lightgreen;
}
#wrap #mainWrap #sub_review .writeBox .starbox h4 {
  text-align: center;
  color: #666;
  font-weight: bold;
  font-size: 13px;
}
#wrap #mainWrap #sub_review .writeBox .starbox span {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #333;
}
#wrap #mainWrap #sub_review .writeBox .write {
  width: 615px;
  height: auto;
}
#wrap #mainWrap #sub_review .writeBox .write p {
  text-align: center;
  font-size: 19px;
  color: #888;
  padding-top: 10px;
  font-weight: bold;
}
#wrap #mainWrap #sub_review .writeBox .write .writeStar {
  width: 100%;
  text-align: center;
}
#wrap #mainWrap #sub_review .writeBox .write .writeStar .star {
  font-size: 60px;
  color: #ddd;
  cursor: pointer;
}
#wrap #mainWrap #sub_review .writeBox .write #text_review {
  margin-left: 7px;
  border-radius: 5px;
  border: 2px solid rgb(199, 198, 198);
  resize: vertical;
  padding: 10px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  font-family: "SUIT-Medium";
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .review_notice {
  width: 147px;
  height: 30px;
  border: 1px solid #bbb;
  border-radius: 5px;
  text-align: center;
  padding-left: 15px;
  line-height: 35px;
  color: #777;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .review_notice i {
  color: #777;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .review_notice:hover {
  background-color: rgba(187, 187, 187, 0.2);
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .subject {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .subject .checkbox {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .subject .checkbox #check {
  width: 20px;
  height: 20px;
  margin-top: -4px;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .subject .checkbox span {
  font-size: 15px;
  margin-left: 4px;
}
#wrap #mainWrap #sub_review .writeBox .write #subjectBox .subject .reviewSubject_Btn {
  width: 95px;
  height: 30px;
  border: 1px solid rgba(31, 140, 230, 0.8);
  border-radius: 5px;
  background-color: rgba(31, 140, 230, 0.6);
  text-align: center;
  line-height: 32px;
  color: white;
  font-size: 14px;
}
#wrap #mainWrap #sub_review .writeBox .write #noticeBox {
  width: 100%;
  height: 316px;
  background-color: #f2f4f5;
  border-radius: 5px;
  padding: 16px 25px;
}
#wrap #mainWrap #sub_review .writeBox .write #noticeBox p {
  font-size: 13px;
  font-family: "NanumBarunGothic";
  text-align: left;
  color: #222;
  font-weight: bold;
  padding-top: 7px;
}
#wrap #mainWrap #sub_review .writeBox .write #noticeBox ul {
  padding: 10px 0px;
}
#wrap #mainWrap #sub_review .writeBox .write #noticeBox ul li {
  color: #666;
  font-size: 13px;
  font-family: "NanumBarunGothic";
}
#wrap #mainWrap #sub_review #purchase_review {
  width: 100%;
  height: auto;
  border: 1px solid darkmagenta;
  margin-top: 40px;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav {
  width: 100%;
  height: 37px;
  border-bottom: 2px solid #d1d5d9;
  display: flex;
  justify-content: space-between;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN1 {
  display: flex;
  width: 50%;
  height: 37px;
  align-items: flex-end;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN1 .hover_line {
  border-bottom: 2px solid #666;
  color: #444 !important;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN1 li {
  font-size: 16px;
  height: 100%;
  border-bottom: 2px solid transparent;
  color: #888 !important;
  line-height: 45px;
  margin-right: 20px;
  cursor: pointer;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN1 li:hover {
  border-bottom: 2px solid #666;
  color: #444 !important;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN2 {
  display: flex;
  width: 50%;
  justify-content: end;
  height: 37px;
  align-items: flex-end;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN2 li {
  font-size: 14px;
  padding-right: 10px;
  width: auto;
  height: 100%;
  display: inline-block;
  color: #888 !important;
  line-height: 45px;
  cursor: pointer;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN2 li:nth-child(2n) {
  color: #ddd !important;
  width: 1px;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN2 li:hover {
  color: #666 !important;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseNav .pN2 .hover_black {
  color: #444 !important;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseReview {
  width: 100%;
  height: auto;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseReview .prBox {
  width: 100%;
  height: 93px;
  padding-top: 14px;
  border-top: 1px solid #d1d5d9;
}
#wrap #mainWrap #sub_review #purchase_review .purchaseReview .prBox:nth-child(1) {
  border-top: none !important;
}
#wrap .color_red {
  color: #e64938 !important;
}
#wrap #subWrap {
  width: 207px;
  height: 581.5px;
}
#wrap #subWrap .sub_book {
  width: 100%;
  height: 207px;
  border-bottom: 1px solid #e6e8eb;
  margin-bottom: 40px;
}
#wrap #subWrap .sub_book a img {
  width: 100%;
  height: 100%;
}
#wrap #subWrap .sub_bestseller {
  width: 100%;
  height: 343.5px;
  padding: 0 18px;
}
#wrap #subWrap .sub_bestseller h5 {
  font-weight: bold;
}
#wrap #subWrap .sub_bestseller table {
  width: 100%;
}
#wrap #subWrap .sub_bestseller table tr {
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
}
#wrap #subWrap .sub_bestseller table tr th {
  width: 25px;
  color: #e64938;
  font-size: 12px;
  padding: 4px 0 4px 0;
}
#wrap #subWrap .sub_bestseller table tr td {
  font-size: 12px;
  padding-left: 10px;
}
#wrap #subWrap .sub_bestseller .sub_show_btn {
  width: 100%;
  height: 20px;
  background-color: #eee;
  text-align: center;
  font-size: 12px;
  position: relative;
  line-height: 20px;
  padding-top: 3px;
  border-bottom: 1px solid #e6e8eb;
  cursor: pointer;
  color: #666;
}
#wrap #subWrap .sub_bestseller .sub_show_btn i {
  font-size: 13px;
  position: absolute;
  color: #666;
}
#wrap #subWrap .sub_bestseller .sub_show_btn:hover {
  background-color: #e6e8eb;
}