@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OTWelcomeRA";
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
}

#topMenu {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
}

#top {
  width: 1150px;
  height: 39px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#top .tmenu {
  width: 990px;
  height: 100%;
  margin-left: 10px;
}
#top .topMember {
  width: 140px;
  height: 100%;
}

.tmenu {
  display: flex;
}
.tmenuli {
  display: inline-flex;
  align-items: center;
}
.tmenu li a {
  color: #666;
  display: inline-flex;
  padding: 15px 12px 10px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  transition: opacity 0.2s ease 0s;
}
.tmenu li a:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease 0s;
}
.tmenu .webtoon::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #e6e6e6;
}
.tmenu .web::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #e6e6e6;
}
.tmenu .book::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #e6e6e6;
}

.topMember {
  display: flex;
}
.topMemberli {
  display: inline-flex;
  align-items: center;
}
.topMember li a {
  color: #666;
  display: inline-flex;
  padding: 15px 8px 10px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  transition: opacity 0.2s ease 0s;
}
.topMember li a:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease 0s;
}
.topMember .member::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #e6e6e6;
}

#headerBox {
  width: 100%;
  height: 72px;
}

header {
  width: 1150px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 16px 18px 16px 22px;
  justify-content: space-between;
}

#logo {
  width: 650px;
  height: 38px;
}
#logo a {
  width: 180px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

#searchInput {
  width: 260px;
  height: 40px;
}
#searchInput input {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  border-radius: 8px;
  text-align: left;
  padding-left: 40px;
  font-size: 15px;
  color: #1E9EFF;
  font-family: "NanumBarunGothic";
  font-weight: bold;
}
#searchInput input:focus {
  outline: none;
  line-height: 40px;
}

#menuIcon {
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#menuIcon a {
  width: 24.5%;
  height: 100%;
}
#menuIcon a :nth-of-type(1) {
  margin-left: 18px;
}
#menuIcon a .notify {
  width: 55%;
  height: 65%;
  margin-top: 5px;
}
#menuIcon a .cart {
  width: 70%;
  height: 95%;
}
#menuIcon a .book {
  width: 55%;
  height: 65%;
  margin-top: 4px;
}
#menuIcon a .user {
  width: 55%;
  height: 65%;
  margin-top: 4px;
}

#menu {
  width: 100%;
  height: 120px;
}

#category {
  width: 1120px;
  margin: 0 auto;
  height: 60px;
}
#category h3 {
  float: left;
  margin-left: 6px;
  color: #1E9EFF;
  font-weight: bold;
  font-size: 25px;
  line-height: 60px;
  font-family: "NanumBarunGothic";
}
#category img {
  float: right;
  width: 55px;
  height: 55px;
}
#category span {
  float: right;
  line-height: 60px;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.menuHr {
  width: 1110px;
  margin: 0 auto;
  border-top: 0.5px solid #f0f0f0;
  border-bottom: none;
}

#categorymenu {
  width: 1120px;
  margin: 0 auto;
  height: 60px;
}
#categorymenu ul {
  display: flex;
  line-height: 60px;
}
#categorymenu ul li {
  margin-left: 6px;
  margin-right: 13px;
}
#categorymenu ul li a {
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 600;
  font-family: "NanumBarunGothic";
  transition: opacity 0.2s ease 0s;
}
#categorymenu ul li a:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease 0s;
}

.reco_Box {
  display: flex;
}
.reco_Box div {
  margin-top: -5px;
  background-color: #1E9EFF;
  height: 35px;
  align-self: center;
  border-radius: 80px;
  width: 52px;
  display: flex;
}
.reco_Box div a {
  text-align: center;
  color: white;
  font-family: "OTWelcomeRA";
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-left: 10px;
  cursor: default;
}
.reco_Box div a:hover {
  opacity: 1 !important;
}

#slide {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid skyblue;
  height: 400px;
}

#slideImgBox {
  width: 1110px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.slideIB {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-right: 5px;
}
.slideIB a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.s1 {
  background-color: #1E9EFF;
  flex-grow: 1;
  flex-basis: 0;
}

.s2 {
  background-color: gold;
  flex-grow: 0;
  flex-basis: 46px;
}

.s3 {
  background-color: yellowgreen;
  flex-grow: 0;
  flex-basis: 46px;
}

.s4 {
  background-color: purple;
}

.s5 {
  background-color: indianred;
}

.s6 {
  background-color: darkcyan;
}

.s7 {
  background-color: darkorange;
}

.s8 {
  background-color: darkturquoise;
}

.s9 {
  background-color: deeppink;
}

.s10 {
  background-color: lightgreen;
}

#quickMenu {
  width: 1170px;
  margin: 0 auto;
  height: 94px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

#quickIcon {
  width: 1110px;
  margin: 0 auto;
  height: 100%;
}

.qIcon {
  width: 610px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.qIcon a {
  display: inline-block;
  flex-grow: 1;
  height: 100%;
  margin-left: 4px;
  margin-right: 4px;
}

.icon {
  display: flex;
  flex-direction: column;
}
.icon img {
  width: 70px;
  height: 70px;
  margin: 5px;
}
.icon span {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  font-family: "NanumBarunGothic";
}

#today {
  width: 1170px;
  margin: 0 auto;
  margin-top: 40px;
  height: 274px;
  border: 1px solid lightgreen;
  position: relative;
}

.prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 45%;
  z-index: 4;
  left: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px rgba(230, 230, 230, 0.5);
  display: none;
}

.next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 45%;
  z-index: 4;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px rgba(230, 230, 230, 0.5);
}

#todayHeader {
  width: 1110px;
  margin: 0 auto;
  height: 48px;
  border: 1px solid lightcoral;
}
#todayHeader h2 {
  font-family: "NanumBarunGothic";
  font-size: 22px;
  font-weight: bold;
}

#todayBook {
  width: 1110px;
  margin: 0 auto;
  height: 226px;
  border: 1px solid lightseagreen;
  display: flex;
  overflow: hidden;
}
#todayBook a {
  display: inline-block;
  width: 365px;
  height: 100%;
  margin-left: 3px;
  margin-right: 3px;
}

.tdb {
  width: 365px;
  height: 100%;
  border: 1px solid red;
}

.tdb_bgimg {
  width: 100%;
  height: 65%;
  position: relative;
}

.todayBg {
  background-color: #1E9EFF;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  border-radius: 5px;
}

.tdimg {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  background-color: red;
  z-index: 2;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.tdimg img {
  width: 100%;
  height: 115%;
}

#manyRead {
  width: 1170px;
  margin: 0 auto;
  height: 438px;
  border: 1px solid red;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
  padding-bottom: 30px;
}

#manyReadTitle {
  width: 1110px;
  height: 48px;
  border: 1px solid lawngreen;
  padding-top: 6px;
  padding-bottom: 16px;
}

#manyReadBook {
  width: 1110px;
  height: 360px;
  border: 1px solid darkcyan;
}

#newRead {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid gold;
  height: 403px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

#newTitle {
  width: 1110px;
  height: 48px;
  border: 1px solid darkorange;
  padding-top: 6px;
  padding-bottom: 16px;
}

#newBook {
  width: 1110px;
  height: 355px;
  border: 1px solid darkturquoise;
}

#bestseller {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid brown;
  height: 438px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
  padding-bottom: 30px;
}

#bestTitle {
  width: 1110px;
  padding-top: 6px;
  padding-bottom: 16px;
  height: 48px;
  border: 1px solid limegreen;
}

#bestBook {
  width: 1110px;
  height: 360px;
  border: 1px solid deeppink;
}

#recommend {
  width: 1170px;
  margin: 0 auto;
  height: 806px;
  border: 1px solid lightskyblue;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

#recommendTitle {
  width: 1110px;
  height: 48px;
  border: 1px solid lightcoral;
  padding-top: 6px;
  padding-bottom: 16px;
}

#recommendBook {
  width: 1110px;
  height: 758px;
  border: 1px solid seagreen;
}

#footerbox {
  width: 100%;
  border: 1px #555;
  background-color: #ffffff;
  padding-top: 100px;
}
#footerbox hr {
  width: 100%;
  border: 0.5px solid #f0f0f0;
}
#footerbox footer {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid khaki;
  height: 374px;
  padding: 0 26px;
  padding-top: 41px;
  padding-bottom: 20px;
  display: flex;
}

#footerLeft {
  height: 313px;
  padding: 0 4px;
  background-color: #1E9EFF;
  width: 958px;
}

#footerMenu {
  width: 950px;
  height: 164px;
  background-color: gold;
  display: flex;
  flex-direction: row;
}
#footerMenu ul {
  margin-right: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#footerMenu .f2 {
  justify-content: space-between;
}

.recruit {
  position: relative;
}
.recruit div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1E9EFF;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
}
.recruit div h3 {
  color: #fff;
  font-size: 5px;
  line-height: 20px;
  text-align: center;
}

#footerCopyright {
  width: 950px;
  height: 69px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: plum;
}

#footerRight {
  height: 313px;
  padding: 0 4px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}
#footerRight a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  position: relative;
}
#footerRight a svg {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-width: 0;
  stroke: #777;
  fill: #777;
}