@charset "UTF-8";

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

@font-face {
    font-family: "OTWelcomeRA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OTWelcomeRA';
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

table {
    border-collapse: collapse;
}

#logo a img:nth-child(2) {
    display: none;
}

body {
    position: relative;
}

.imgZoomIn {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    display: none;

    & .zoomIn {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;

        & .zoominCloseBtn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            line-height: 55px;
            text-align: center;
            font-size: 20px;
            position: absolute;
            left: 65%;
            top: 7%;
            transform: translate(-50%, -50%);
            z-index: 80;
            cursor: zoom-out;
        }

        & img {
            width: 519px;
            height: 770px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#wrap {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;

    & #mainWrap {
        width: 793px;
        height: auto;

        & #main_head {
            width: 100%;
            height: 587.36px;
            padding: 40px 29px;

            & .thum_img {
                width: 220px;
                height: 344px;
                float: left;

                & .img_box {
                    width: 200px;
                    height: 292px;

                    & img {
                        width: 100%;
                        height: 100%;
                        cursor: zoom-in;
                    }
                }

                & .boxlook {
                    width: 200px;

                    & .img_look {
                        border: 1px solid #1f8ce6;
                        border-radius: 5px;
                        width: 130px;
                        height: 39px;
                        margin: 12px auto 0;
                        padding: 12px;
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px;
                        color: #1f8ce6;
                        cursor: pointer;
                    }

                    & .img_look:hover {
                        background-color: rgba(31, 140, 230, 0.1);
                    }
                }
            }

            & .thum_title {
                width: 500px;
                height: 357.36px;
                float: right;

                & p {
                    width: 100%;
                    height: 14px;
                    font-size: 13px;
                    color: #333;
                    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
                }

                & p a:hover {
                    color: #1f8ce6 !important;
                }

                & .book_Title {
                    width: 100%;
                    height: 35px;
                    color: #333;
                    margin-top: 8px !important;

                    & h2 {
                        color: #333;
                        font-size: 30px;
                        font-weight: bold;
                        font-family: 'SUIT-Medium';
                        margin-top: 8px !important;
                    }
                }

                & .book_hStar {
                    width: 100%;
                    height: 16.36px;
                    margin-top: 17px;
                    font-family: 'SUIT-Medium';

                    & .star_ic {
                        height: 15px;
                        font-size: 15px;
                        color: #fa722e;
                        letter-spacing: -0.1em;
                    }

                    & .star_figure {
                        font-size: 15px;
                        padding-left: 3px;
                        color: #fa722e;
                    }

                    & .star_ps {
                        font-size: 12px;
                        display: inline-block;
                        margin-left: -3px;
                    }
                }

                & .book_Info {
                    width: 100%;
                    height: 39px;
                    margin: 20px 0;

                    & .book_author {
                        width: 100%;
                        height: 22px;
                        padding-bottom: 5px;
                        font-size: 14px;
                        color: #888 !important;
                        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

                        & a {
                            font-weight: bold;
                            color: #666 !important;
                            letter-spacing: 0.1em;
                        }

                        & a:hover {
                            color: #1f8ce6 !important;
                        }
                    }

                    & .book_publishing {
                        width: 100%;
                        height: 17px;
                        font-size: 13px;
                        color: #888 !important;
                        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

                        & a {
                            font-weight: bold;
                            color: #666 !important;
                            letter-spacing: 0.1em;
                        }

                        & a:hover {
                            color: #1f8ce6 !important;
                        }
                    }
                }

                & #hr_book {
                    border-top: 2px solid #d1d5d9;
                    margin-bottom: 14px;
                }

                & table {
                    width: 100%;
                    height: 100px;
                    border-top: 1px solid #d1d5d9;
                    border-bottom: 1px solid #d1d5d9;

                    & th {
                        width: 171.88px;
                        text-align: center;
                        border-right: 1px solid #d1d5d9;
                        background-color: #f7fafc;
                    }

                    & tr td:nth-of-type(1) {
                        width: 156px;
                        text-align: left;
                        padding-left: 10px;
                        padding-top: 5px;
                        color: #777;
                    }

                    & tr td:nth-of-type(2) {
                        width: 156px;
                        text-align: right;
                        padding-right: 10px;
                        padding-top: 5px;
                        color: #777;
                        font-weight: 700;
                        font-size: 12px;
                    }

                    & .book_blue {
                        color: #1f8ce6 !important;
                    }
                }

                & #book_Icon {
                    width: 100%;
                    height: 48px;
                    margin-top: 15px;

                    & .bookf_icon {
                        width: 271px;
                        height: 100%;
                        float: right;
                        display: flex;
                        justify-content: space-between;

                        & .book_ic {
                            width: 48px;
                            height: 100%;
                            border-radius: 5px;
                            border: 1px solid #d1d5d9;
                            cursor: pointer;
                        }

                        & .heart {
                            font-size: 20px;
                            color: #888;
                            position: relative;

                            & span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                        }

                        & .bookcart {
                            font-size: 20px;
                            color: #888;
                            position: relative;

                            & span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                        }

                        & .present {
                            font-size: 25px;
                            color: #888;
                            position: relative;

                            & span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                        }

                        & .book_ic:hover {
                            background-color: rgba(209, 213, 217, 0.3);
                        }

                        & .have {
                            width: 112px;
                            height: 100%;
                            border-radius: 5px;
                            background-color: #1f8ce6;
                            border: 1px solid #0077d9;
                            box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
                            color: #fff;
                            font-size: 17px;
                            font-weight: bold;
                            text-align: center;
                            line-height: 45px;
                            cursor: pointer;
                            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
                        }

                        & .have:hover {
                            background-color: #0077d9;
                        }
                    }
                }
            }

            & .both {
                clear: both;
                display: block;
                width: 0;
                height: 0;
                font-size: 0;
                line-height: 0;
                visibility: hidden;
                border: none;
                margin: 0;
                padding: 0;
            }

            & .thum_detail {
                width: 733px;
                height: 110px;
                margin-top: 40px;
                padding: 20px 26px 13px;
                border: 4px solid #f2f4f5;

                & .thum_tb {
                    width: 90%;
                    height: 100%;

                    & tr {
                        font-size: 12px;
                        color: #777;
                        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

                        & th {
                            color: #555 !important;
                        }

                        & td span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        & #book_intro {
            width: 100%;
            height: auto;
            padding: 0 29px 70px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & p {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }

            & .bookdetailNone {
                display: none;
            }

            & .bookdetailMore {
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }

            & .bookdetailFolder {
                display: none;
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }
        }

        & #publishing {
            width: 100%;
            height: auto;
            padding: 0 29px 70px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & p {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }

            & .publishingreviewNone {
                display: none;
            }

            & .publishingreviewMore {
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }

            & .publishingreviewFolder {
                display: none;
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }
        }

        & #profile {
            width: 100%;
            height: auto;
            padding: 0 29px 20px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & h4 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #333;
                padding-top: 10px;
            }

            & .author_btn {
                width: 168px;
                height: 30.25px;
                padding: 8px 27px 7px 8px;
                text-align: center;
                color: #1f8ce6;
                border: 1px solid #1f8ce6;
                box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
                border-radius: 5px;
                text-align: right;
                position: relative;
                cursor: pointer;
                margin-bottom: 20px;

                & i {
                    position: absolute;
                    left: 15%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                & span {
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 15px;
                    color: #1f8ce6;
                }
            }

            & .author_btn:hover {
                background-color: #ebf6ff;
            }

            & .tit {
                font-size: 13px;
                color: #888;
                margin-right: 7px;
                font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
            }

            & .cot {
                font-size: 13px;
                color: #333;
                font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
            }

            & span {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }

            & .update {
                width: 100%;
                height: 22px;
                display: flex;
                justify-content: flex-end;

                & span {
                    font-size: 12px;
                    color: #999;
                    font-weight: bold;
                    margin-right: 8px;
                }

                & .update_btn {
                    width: 132px;
                    height: 21px;
                    font-size: 12px;
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-weight: bold;
                    border: 1px solid #d1d5d9;
                    box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
                    color: #999;
                    cursor: pointer;

                    & i {
                        font-size: 11px;
                    }
                }

                & .update_btn:hover {
                    background-color: rgba(209, 213, 217, 0.3);
                }
            }

            & .hr_gray {
                width: 100% !important;
            }
        }

        & #presenbook {
            width: 735px;
            margin: 0 auto;
            height: auto;
            padding: 0 0px 30px 29px;

            & .presentitle {
                width: 100%;
                height: 17px;
                display: flex;
                justify-content: space-between;

                & h4 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                    font-family: 'SUIT-Medium';
                }

                & .presenul {
                    width: 480px;
                    height: 16px;
                    display: flex;
                    margin-top: 10px;
                    justify-content: flex-end;

                    & li {
                        font-size: 12px;
                        color: #888;
                        padding-left: 10px;
                        padding-right: 2px;
                        font-family: 'SUIT-Medium';
                    }

                    & li:nth-of-type(odd) {
                        font-weight: bold;
                        cursor: pointer;
                    }

                    & li:nth-of-type(even) {
                        color: #d1d5d9;
                        font-size: 13px;
                    }

                    & li:nth-of-type(odd):hover {
                        color: #333;
                    }

                    .presen_black {
                        color: #333;
                    }
                }
            }

            & #presen_Book {
                margin-top: 30px;
                width: 100%;
                height: 243.09px;
                padding: 10px 0 20px 0;
                display: flex;

                & .presenbook_Box {
                    width: 147px;
                    height: 193.05px;
                    margin-top: 20px;

                    & .presen_Img {
                        width: 90px;
                        height: 131.45px;
                        margin: 0 auto;
                        position: relative;

                        & .prborrow {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 1px solid #15967d;
                            background-color: #3ea590;
                            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
                            top: -7px;
                            left: -7px;
                            text-align: center;
                            line-height: 40px;

                            & a {
                                color: #fff !important;
                                font-weight: bold;
                                font-family: 'SUIT-Medium';
                            }
                        }

                        & a img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & h4 {
                        font-size: 12px;
                        width: 90px;
                        height: auto;
                        font-weight: bold;
                        color: #333;
                        margin: 6px auto 0;
                        font-family: 'SUIT-Medium';
                    }

                    & .star_pr {
                        width: 90px;
                        height: 13px;
                        margin: 0 auto;

                        & .pr_s {
                            font-size: 9px !important;
                            letter-spacing: -0.3em !important;
                            color: #fa722e;
                        }

                        & span {
                            font-size: 10px !important;
                            letter-spacing: -0.1em;
                        }
                    }
                }
            }
        }

        & #author_intro {
            width: 100%;
            height: auto;
            padding: 0 29px 40px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & p {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }
        }

        & #sub_index {
            width: 100%;
            height: auto;
            padding: 0 29px 40px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & div {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }

            & p {
                color: #333;
                font-size: 13px;
                font-family: "NanumBarunGothic";
                line-height: 1.7em;
            }

            & .subindexNone {
                display: none;
            }

            & .subindexMore {
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }

            & .subindexFolder {
                display: none;
                float: right;
                color: #1f8ce6;
                cursor: pointer;
            }
        }

        & #sub_review {
            width: 100%;
            height: auto;
            padding: 0 29px 70px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-top: 10px;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 25px;
            }

            & .writeBox {
                width: 100%;
                height: auto;
                display: flex;
                padding-top: 14px;

                & .starbox {
                    width: 120px;
                    height: auto;
                    padding: 30px 10px;

                    & h4 {
                        text-align: center;
                        color: #666;
                        font-weight: bold;
                        font-size: 13px;
                    }

                    & span {
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        font-size: 35px;
                        color: #333;
                    }

                    & .star_bx {
                        width: 100%;
                        height: 17px;
                        margin-top: -5px !important;
                        display: flex;
                        justify-content: center;

                        & span {
                            font-size: 13px;
                            color: #fa722e !important;
                        }
                    }

                    & .star_bar {
                        width: 100%;
                        height: 128px;
                        padding: 8px 0 10px 0;
                        margin-bottom: 3px;

                        & .star_scb {
                            width: 100%;
                            height: 14px;
                            margin-top: 8px;
                            color: #808991;
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: .08em;
                            display: flex;
                            justify-content: space-between;

                            & span {
                                font-size: 12px;
                                font-weight: bold;
                                color: #808991;
                            }

                            & span:nth-of-type(1) {
                                font-size: 11px;
                            }

                            & .star_scroll {
                                width: 72px;
                                height: 8px;
                                align-self: center;
                                background-color: #e8edf3;
                                box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);

                                & .scroll_5 {
                                    width: 80%;
                                    height: 100%;
                                    background: linear-gradient(to bottom, #9da9b5, #718392);
                                }

                                & .scroll_4 {
                                    width: 15%;
                                    height: 100%;
                                    background: linear-gradient(to bottom, #9da9b5, #718392);
                                }

                                & .scroll_3 {
                                    width: 10%;
                                    height: 100%;
                                    background: linear-gradient(to bottom, #9da9b5, #718392);
                                }

                                & .scroll_2 {
                                    width: 3%;
                                    height: 100%;
                                    background: linear-gradient(to bottom, #9da9b5, #718392);
                                }

                                & .scroll_1 {
                                    width: 3%;
                                    height: 100%;
                                    background: linear-gradient(to bottom, #9da9b5, #718392);
                                }
                            }
                        }
                    }

                    & .evaluate_pr {
                        width: 100%;
                        height: 20px;
                        border-top: 1px solid #d1d5d9;
                        display: flex;
                        justify-content: flex-end;
                        padding: 8px 7px 0 0;

                        & .ev_p {
                            font-size: 12px;
                            font-weight: bold;
                            color: #808991;
                            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
                        }

                        & span {
                            font-size: 12px;
                            font-weight: 500;
                            color: #808991;
                            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
                        }
                    }
                }

                & .write {
                    width: 615px;
                    height: auto;

                    & .ev_write {
                        width: 100%;
                        height: 37.14px;
                        position: relative;
                        margin-bottom: 10px;

                        & p {
                            text-align: center;
                            font-size: 19px;
                            color: #888;
                            padding-top: 10px;
                            font-weight: bold;
                        }

                        & .star_message {
                            width: 120px;
                            height: 100%;
                            border: 1px solid #1f8ce6;
                            background-color: #1f8ce6;
                            border-radius: 5px;
                            font-size: 16px;
                            color: #fff;
                            padding: 9px 15px;
                            text-align: center;
                            font-weight: bold;
                            left: 50%;
                            transform: translateX(-50%);
                            position: absolute;
                        }

                        & .star_message::after {
                            border-top: 8px solid #1f8ce6;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 0px solid transparent;
                            content: "";
                            top: 35px;
                            left: 50%;
                            transform: translateX(-50%);
                            position: absolute;
                        }

                        & .write_1 {
                            display: none;
                        }

                        & .write_2 {
                            display: none;
                        }

                        & .write_3 {
                            display: none;
                        }

                        & .write_4 {
                            display: none;
                        }

                        & .write_5 {
                            display: none;
                        }
                    }

                    & .writeStar {
                        width: 100%;
                        text-align: center;

                        & .star {
                            font-size: 60px;
                            color: #ddd;
                            cursor: pointer;
                        }

                    }

                    & #text_review {
                        margin-left: 7px;
                        border-radius: 5px;
                        border: 2px solid rgb(199, 198, 198);
                        resize: vertical;
                        padding: 10px;
                        color: #333;
                        font-weight: 500;
                        font-size: 16px;
                        font-family: 'SUIT-Medium';
                    }

                    & #subjectBox {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                        justify-content: space-between;

                        & .review_notice {
                            width: 147px;
                            height: 30px;
                            border: 1px solid #bbb;
                            border-radius: 5px;
                            text-align: center;
                            padding-left: 15px;
                            line-height: 35px;
                            color: #777;
                            font-size: 14px;
                            position: relative;
                            cursor: pointer;

                            & i {
                                color: #777;
                                font-size: 15px;
                                position: absolute;
                                top: 50%;
                                left: 14%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        & .review_notice:hover {
                            background-color: rgba(187, 187, 187, 0.2);
                        }


                        & .subject {
                            width: 250px;
                            height: 30px;
                            display: flex;
                            justify-content: space-between;

                            & .checkbox {
                                height: 100%;
                                display: flex;
                                align-items: flex-start;

                                & #check {
                                    width: 20px;
                                    height: 20px;
                                    margin-top: -4px;
                                }

                                & span {
                                    font-size: 15px;
                                    margin-left: 4px;
                                }

                            }

                            & .reviewSubject_Btn {
                                width: 95px;
                                height: 30px;
                                border: 1px solid rgba(31, 140, 230, 0.8);
                                border-radius: 5px;
                                background-color: rgba(31, 140, 230, 0.6);
                                text-align: center;
                                line-height: 32px;
                                color: white;
                                font-size: 14px;
                                cursor: default;
                            }
                        }
                    }

                    & #noticeBox {
                        width: 100%;
                        height: 316px;
                        background-color: #f2f4f5;
                        border-radius: 5px;
                        padding: 16px 25px;

                        & p {
                            font-size: 13px;
                            font-family: "NanumBarunGothic";
                            text-align: left;
                            color: #222;
                            font-weight: bold;
                            padding-top: 7px;
                        }

                        & ul {
                            padding: 10px 0px;

                            & li {
                                color: #666;
                                font-size: 13px;
                                font-family: "NanumBarunGothic";
                            }
                        }
                    }
                }

            }

            & #purchase_review {
                width: 100%;
                height: auto;
                margin-top: 40px;

                & .purchaseNav {
                    width: 100%;
                    height: 37px;
                    border-bottom: 2px solid #d1d5d9;
                    display: flex;
                    justify-content: space-between;

                    & .pN1 {
                        display: flex;
                        width: 50%;
                        height: 37px;
                        align-items: flex-end;

                        .hover_line {
                            border-bottom: 2px solid #666;
                            color: #444 !important;
                        }

                        & li {
                            font-size: 16px;
                            height: 100%;
                            border-bottom: 2px solid transparent;
                            color: #888 !important;
                            line-height: 45px;
                            margin-right: 20px;
                            cursor: pointer;
                        }

                        & li:hover {
                            border-bottom: 2px solid #666;
                            color: #444 !important;
                        }
                    }

                    & .pN2 {
                        display: flex;
                        width: 50%;
                        justify-content: end;
                        height: 37px;
                        align-items: flex-end;

                        & li {
                            font-size: 14px;
                            padding-right: 10px;
                            width: auto;
                            height: 100%;
                            display: inline-block;
                            color: #888 !important;
                            line-height: 45px;
                            cursor: pointer;
                        }

                        & li:nth-child(2n) {
                            color: #ddd !important;
                            width: 1px;
                        }

                        & li:hover {
                            color: #666 !important;
                        }

                        .hover_black {
                            color: #444 !important;
                        }
                    }
                }

                & .purchaseReview {
                    width: 100%;
                    height: auto;

                    & .prBox {
                        width: 100%;
                        height: 93px;
                        padding-top: 14px;
                        border-top: 1px solid #d1d5d9;
                        display: flex;

                        & .reviewStar {
                            width: 115px;
                            height: 100%;
                            padding: 1px 0 15px;

                            & .rstar {
                                width: 100%;
                                height: 15px;
                                font-size: 11px !important;
                                margin-bottom: 5px;
                                letter-spacing: -0.1em;
                            }

                            & .rid {
                                width: 100%;
                                height: 21px;
                                display: flex;
                                margin-bottom: 5px;

                                & span {
                                    font-size: 12px;
                                    font-weight: 700;
                                    font-family: "NanumBarunGothic";
                                }

                                & .puchper {
                                    width: 35px;
                                    height: 18px;
                                    color: white;
                                    padding: 4px 0 0 0;
                                    background-color: #7d8e9e;
                                    border-radius: 3px;
                                    margin-left: 3px;
                                    font-size: 10px;
                                    text-align: center;

                                }
                            }

                            & .rdate {
                                width: 100%;
                                height: 21px;

                                & .date {
                                    font-size: 11px;
                                    color: #999;
                                    font-weight: bold;
                                    font-family: "NanumBarunGothic";
                                }

                                & .date::after {
                                    content: "";
                                    display: inline-block;
                                    width: 3px;
                                    height: 3px;
                                    margin-top: 1px;
                                    margin-left: 5px;
                                    margin-right: 3px;
                                    border-radius: 3px;
                                    background-color: #e6e6e6;
                                }

                                & .declare {
                                    font-family: "NanumBarunGothic";
                                    font-weight: bold;
                                    font-size: 12px;
                                    color: #555;
                                }
                            }
                        }

                        & .reviewText {
                            width: 620px;
                            height: 100%;

                            & p {
                                display: block;
                                font-size: 14px;
                                margin-bottom: 20px;
                            }

                            & .reviewIcon {
                                width: 100%;
                                height: 28px;
                                display: flex;
                                justify-content: flex-end;

                                & .comment {
                                    padding: 6px 14px;
                                    border: 1px solid #d1d5d9;
                                    margin-right: 3px;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    background: #fff;
                                    color: #808991;
                                    transition: all .4s ease-in-out;
                                    box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
                                    cursor: pointer;
                                }

                                & .recommendation {
                                    padding: 6px 14px;
                                    border: 1px solid #d1d5d9;
                                    margin-right: 3px;
                                    margin-left: 3px;
                                    border-radius: 5px;
                                    font-size: 12px;
                                    background: #fff;
                                    color: #808991;
                                    transition: all .4s ease-in-out;
                                    box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
                                    cursor: pointer;

                                    & i {
                                        font-size: 12px;
                                    }
                                }

                                & .comment:hover {
                                    background: rgba(209, 213, 217, 0.5);
                                    transition: all .4s ease-in-out;
                                }

                                & .recommendation:hover {
                                    background: rgba(209, 213, 217, 0.5);
                                    transition: all .4s ease-in-out;
                                }
                            }
                        }
                    }

                    & .prBox:nth-child(1) {
                        border-top: none !important;
                    }

                    & .prBox:nth-child(8) {
                        border-bottom: 1px solid #d1d5d9 !important;
                    }

                    & .remark {
                        margin-top: 20px;
                        position: relative;
                        color: #999;
                        cursor: pointer;

                        & .up {
                            display: none;
                            position: absolute;
                            top: 40%;
                            transform: translateY(-50%);
                        }

                        & .down {
                            position: absolute;
                            top: 40%;
                            transform: translateY(-50%);
                        }
                    }

                    & .remark:hover {
                        color: #333;
                    }

                    & .remarkStandard {
                        width: 100%;
                        height: 268px;
                        padding: 24px;
                        margin: 7px 0 0;
                        background-color: #f3f4f5;
                        border-radius: 3px;
                        color: #666;
                        display: none;

                        & p {
                            color: #333;
                            font-weight: bold;
                            font-family: "NanumBarunGothic";
                            font-size: 13px;
                        }

                        & dt {
                            font-weight: bold;
                            color: #888;
                            margin-top: 10px;
                            font-family: "NanumBarunGothic";
                            font-size: 13px;
                        }

                        & dd {
                            color: #888;
                            font-family: "NanumBarunGothic";
                            font-size: 13px;
                        }
                    }

                }
            }
        }

        & #anotherBook {
            width: 100%;
            height: 600px;
            padding: 0 29px 70px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & #anBook {
                width: 100%;
                height: 450px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                & .an_book {
                    width: 145px;
                    height: 200px;
                    margin-top: 20px;
                    text-align: center;
                    color: #666;
                    font-size: 12px;

                    & .anImg {
                        width: 90px;
                        height: 135px;
                        margin: 0 auto;

                        & a img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & .anText {
                        width: 90px;
                        height: auto;
                        margin: 0 auto;

                        & h4 {
                            font-size: 12px;
                            text-align: left;
                            margin-top: 5px !important;
                            margin-bottom: 2px !important;
                            font-weight: bold;
                            line-height: 12px;
                            font-family: 'SUIT-Medium';
                        }

                        & p {
                            text-align: left;
                        }

                        & p a {
                            font-size: 12px;
                            // font-weight: bold;
                            color: #777 !important;
                            line-height: 12px;
                            font-family: 'SUIT-Medium';
                        }
                    }

                }
            }
        }

        & #aroundBook {
            width: 100%;
            height: 600px;
            padding: 0 29px 70px 29px;

            & h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: 'SUIT-Medium';
                color: #59667a;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: 2px solid #7d8e9e;
                margin-bottom: 20px;
            }

            & #arBook {
                width: 100%;
                height: 450px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                & .ar_book {
                    width: 145px;
                    height: 200px;
                    margin-top: 20px;
                    text-align: center;
                    color: #666;
                    font-size: 12px;

                    & .arImg {
                        width: 90px;
                        height: 135px;
                        margin: 0 auto;
                        position: relative;

                        & a img {
                            width: 100%;
                            height: 100%;
                        }

                        & .ardiscount {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            background-color: #59667a;
                            border-radius: 50%;
                            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
                            color: #fff;
                            text-align: center;
                            line-height: 40px;
                            font-weight: bold;
                            padding-top: 1px;
                            font-size: 13px;
                            top: -10px;
                            left: -10px;
                        }
                    }

                    & .arText {
                        width: 90px;
                        height: auto;
                        margin: 0 auto;

                        & h4 {
                            font-size: 12px;
                            text-align: left;
                            margin-top: 5px !important;
                            margin-bottom: 2px !important;
                            font-weight: bold;
                            line-height: 12px;
                            font-family: 'SUIT-Medium';
                        }

                        & p {
                            text-align: left;
                        }

                        & p a {
                            font-size: 12px;
                            // font-weight: bold;
                            color: #777 !important;
                            line-height: 12px;
                            font-family: 'SUIT-Medium';
                        }
                    }

                }
            }
        }
    }

    .color_red {
        color: #fa722e !important;
    }

    .starcolor {
        color: #fa722e !important;
    }

    .starnone {
        color: #ddd !important;
    }

    .standardcolor {
        color: #333 !important;
    }

    & #subWrap {
        width: 207px;
        height: 581.5px;

        & .sub_book {
            width: 100%;
            height: 207px;
            border-bottom: 1px solid #e6e8eb;
            margin-bottom: 40px;

            & a img {
                width: 100%;
                height: 100%;
            }
        }

        & .sub_bestseller {
            width: 100%;
            height: 343.5px;
            padding: 0 18px;

            & h5 {
                font-weight: bold;
            }

            & table {
                width: 100%;
            }

            & table tr {
                border-top: 1px solid #e6e8eb;
                border-bottom: 1px solid #e6e8eb;

                & th {
                    width: 25px;
                    color: #e64938;
                    font-size: 12px;
                    padding: 4px 0 4px 0;
                }

                & td {
                    font-size: 12px;
                    padding-left: 10px;
                }

                & td a:hover {
                    color: #1f8ce6 !important;
                }
            }

            & .sub_show_btn {
                width: 100%;
                height: 20px;
                background-color: #eee;
                text-align: center;
                font-size: 12px;
                position: relative;
                line-height: 20px;
                padding-top: 3px;
                border-bottom: 1px solid #e6e8eb;
                cursor: pointer;
                color: #666;

                & i {
                    font-size: 13px;
                    position: absolute;
                    color: #666;
                }
            }

            & .sub_show_btn:hover {
                background-color: #e6e8eb;
            }
        }
    }
}